<%# This bookshelf is a generic square bookshelf %>
<div id="wrapper">
	<section id="generic">
		<div class="topcap">
			<%# This is the top of the bookshelf %>
			<%= image_tag 'topcap.gif', :class => 'cap-background' %>
		</div>
		<div class="shelf-container">
			<%= image_tag 'generic/generic_bkgd.gif', :class => 'container-background' %>
			<ul>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
			</ul>
		</div>
		<div class="shelf-container">
			<%= image_tag 'generic/generic_bkgd.gif', :class => 'container-background' %>
			<ul>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
			</ul>
		</div>
		<div class="shelf-container">
			<%= image_tag 'generic/generic_bkgd.gif', :class => 'container-background' %>
			<ul>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
			</ul>
		</div>
		<div class="shelf-container">
			<%= image_tag 'generic/generic_bkgd.gif', :class => 'container-background' %>
			<ul>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
			</ul>
		</div>
		<div class="shelf-container">
			<%= image_tag 'generic/generic_bkgd.gif', :class => 'container-background' %>
			<ul>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="zoom-in">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
			</ul>
		</div>
		<div class="shelf-container">
			<%= image_tag 'generic/generic_bkgd.gif', :class => 'container-background' %>
			<ul>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
				<li class="pull-down">
					<%= image_tag 'book_shape.gif', :class => 'book_cover' %>
					<div class="book_render">
						<h1>Book Title</h1>
						<h4>The subtitle texts</h4>
						<h6>AUTHOR NAME</h6>
					</div>
				</li>
			</ul>
		</div>
		<div class="bottomcap">
			<%# This is the bottom of the bookshelf %>
			<%= image_tag 'bottomcap.gif' %>
		</div>
	</section>
</div>